@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@600;700&display=swap');

:root {
    --bg-color: #ffffff;
    --bg-alt-color: #f0f0f0;
    --fg-color: #333333;
    --fg-alt-color: #595959;
    --ac-color: #9850ea;
    --success-color: #4caf50;
    --err-color: #e53935;
}

.dark-theme {
    --bg-color: #121212;
    --bg-alt-color: #1e1e1e;
    --fg-color: #e0e0e0;
    --fg-alt-color: #a0a0a0;
    --ac-color: #bb86fc;
    --success-color: #1eb980;
    --err-color: #cf6679;
}

body {
    margin: 0;
    padding-top: 60px;
    font-family: 'Urbanist', Arial, Helvetica, sans-serif;
    background-color: var(--bg-color);
    color: var(--fg-color);
}

header {
    display: flex;
    height: 60px;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed; /* Change from relative to fixed */
    top: 0; /* Align to the top of the viewport */
    left: 0; /* Align to the left of the viewport */
    right: 0; /* Stretch across the full width of the viewport */
    background-color: var(--bg-alt-color);
    color: var(--fg-color);
    z-index: 1000; /* Ensure the header is above other content */
}

.header-logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Climate Crisis', Arial, Helvetica, sans-serif;
}

.header-logo a {
    color: var(--fg-color);
    text-decoration: none;
}

#site-menu, #theme-toggle {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    width: 30px;
    height: 25px;
    background-color: transparent;
    border: none;
    color: var(--fg-color);
    font-size: 30px;
    align-items: center;
    justify-content: center;
}

#site-menu:focus, #theme-toggle:focus {
    outline: none;
}

.header-nav {
    display: none;
    position: absolute;
    width: 100%;
    top: 60px;
    left: 0;
    background-color: var(--bg-alt-color);

    font-size: 18px;
    font-weight: bold;
}

.header-nav.is-active {
    display: block;
}

.header-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.header-nav ul li {
    padding: 10px 20px;
    margin: 0;
    border-bottom: none;
    transition: background-color 0.3s ease;
}

.header-nav ul li:hover {
    background-color: var(--ac-color);
    color: var(--fg-alt-color);
}

.header-nav ul li a {
    color: var(--fg-color);
    text-decoration: none;
    display: block;
}

.about {
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;

    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 926px) {
    .header-nav ul li, .about {
        font-size: 14px;
    }

    .header-nav ul li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .header-logo {
        white-space: nowrap; /* Prevent text from wrapping */
        font-size: 10px; /* Adjust font size if necessary */
        transform: translateX(-50%) translateY(-50%); /* Adjust for vertical centering */
        top: 50%; /* Vertically center the logo */
        left: 50%;
        position: absolute;
    }

    #site-menu, #theme-toggle {
        font-size: 24px;
    }
}
